.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.flutter-plugins

windows

# Flutter iOS Specific Files
.ios/*
!.ios/Runner.xcworkspace/
!.ios/Runner.xcworkspace/xcshareddata/
.ios/Runner.xcworkspace/contents.xcworkspacedata
.ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
# needed for setting minimum deployment target for flutter_pubnub
!.ios/Podfile
# needed for using Legacy Build System to fix symbol not found errors
!.ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings


# Ignore generated Flutter iOS Files
.android/Flutter/flutter.iml
.android/.gradle/
.android/local.properties

# Flutter Documentation
doc/
